# ROS 2 build files
/build/
/install/
/log/

# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Compiled C/C++
*.o
*.so
*.a
*.out

# System files, editor files
.DS_Store
.vscode/
.cache/
*.swp
*~

# CMake temporary files
CMakeCache.txt
CMakeFiles/
