# ROS 2 build output
/build/
/install/
/log/

# PlatformIO build output
.pio/
.pioenvs/

# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Compiled C/C++ artifacts
*.o
*.so
*.a
*.out
*.elf
*.bin
*.hex
*.map

# CMake temporary files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# System files, editor files
.DS_Store
.vscode/
.cache/
*.swp
*~
